<!--<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
        <%=link_to 'Natural','root_path'%>
            <nav>
                <ul class = "nav navbar-nav navbar-right">
                    <li><%=link_to 'ログイン・新規会員登録','users/new'%></li>
                    <li><%=link_to 'ランキング','item/rank'%></li>
                    <li><%=link_to 'お気に入り','like/index'%></li>
                </ul>
            </nav>
    </div>
</header>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1><%=link_to 'Natural',{:controller => :static_pages, :action =>:home},:class => "navbar-nav mr-auto"%></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto pt-4">
      <li class="prl-5">
        <%=link_to 'ログイン・新規会員登録　',{:controller => :users, :action =>:new},:class => "prl-5"%>
      </li>
      <li class="nav-item">
        <%=link_to 'ランキング　','item/rank'%>
      </li>
      <li class="nav-item">
        <%=link_to 'お気に入り　','like/index'%>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          設定
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
  </div>
</nav>